@model Webbshop.ViewModels.CheckoutViewModel

@{
    ViewBag.Title = "Checkout";
}

<form action="@Url.Action("Checkout")" method="POST" id="braintree-payment-form">
    @Html.AntiForgeryToken()
    <h2>Checkout</h2>

    @Html.ValidationSummary()

    <fieldset>
        <legend>Shipping Information</legend>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.FirstName)</div>
            <div class="editor-field">@Html.EditorFor(m => m.FirstName)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.LastName)</div>
            <div class="editor-field">@Html.EditorFor(m => m.LastName)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.Address)</div>
            <div class="editor-field">@Html.EditorFor(m => m.Address)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.City)</div>
            <div class="editor-field">@Html.EditorFor(m => m.City)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.State)</div>
            <div class="editor-field">@Html.EditorFor(m => m.State)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.PostalCode)</div>
            <div class="editor-field">@Html.EditorFor(m => m.PostalCode)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.Country)</div>
            <div class="editor-field">@Html.EditorFor(m => m.Country)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.Phone)</div>
            <div class="editor-field">@Html.EditorFor(m => m.Phone)</div>
        </p>
        <p>
            <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
            <div class="editor-field">@Html.EditorFor(m => m.Email)</div>
        </p>
    </fieldset>
    <fieldset>
        <legend>Payment Information</legend>
        <p>
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="off" data-encrypted-name="CardNumber" />
        </p>
        <p>
            <label>CVV</label>
            <input type="text" size="4" autocomplete="off" data-encrypted-name="Cvv" />
        </p>
        <p>
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" name="Month" /> / <input type="text" size="4" name="Year" />
        </p>
    </fieldset>
    <input class="submit-button" type="submit" />
</form>

@section scripts {
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
        var braintree = Braintree.create("MIIBCgKCAQEA4zLRTVxTHs0s+3xmwNOsypfDd7Ig2DqU46DjF/Rn5jj3RB2FinHyZjhC71BN2Ysf9O1bG+NiHnzRPKtn8J4xAnCr9IORpLPs/AxxvV2RRx16V+dd5RUkhV+zCkaFR+8pP/oRt+gzsy1dohudM8klpTOTeGmyXo69U/P8TEPQunM9IVdXMH9CwcyJ7iMhGqEBm9JGiKVfD89tvhZ0O3GjxtRxet0iyHmCGLN1Gl2aYrGUB/IrNXQWBTAIVVQwhleaKfAqVXgs6HcEbELnkGtShSwvmghtNYnegvjarW1bxTRBKp/6QrJe+uzUxBDDeVa8LFLl6JS0Gs8M206rySZrZQIDAQAB");

        braintree.onSubmitEncryptForm("braintree-payment-form");
    </script>
}